/* Header styles */

/* Header general */
header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 150px;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
}

header h3 {
    margin: 0;
}

header nav .navLi{
    margin-right: 100px;
    color: whitesmoke;
}

.navLink {
    color: white; /* ????? ???? ?????? */
    font-size: 1.2rem; /* ?????? ?????? 1.2 rem */
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

.navLink a:hover {
    color: rgba(194, 194, 194, 0.89);
    text-decoration: none;
}



/* Header links */
header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Trispace", sans-serif;
    display: flex;
    align-items: center;
}

header a:hover {
    color: rgba(194, 194, 194, 0.89);
    text-decoration: none;
}

header .link-view {
    cursor: pointer;
    margin-right: 20px;
}

#authLink{
    float: right;
    width: 20%;
    display: flex; /* ????????????? flex-????????? */
    justify-content: center; /* ??????????? ?? ??????????? */
    align-items: center; /* ??????????? ?? ????????? */
}

#authLink .navLink{
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

#authLink ul {
    margin: 0;
}


#middleNav{
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    display: flex; /* ????????????? flex-????????? */
    justify-content: center; /* ??????????? ?? ??????????? */
    align-items: center; /* ??????????? ?? ????????? */
}

#mainUl{
    /*display: flex; !* ????????????? flex-????????? *!*/
    /*justify-content: center; !* ??????????? ?? ??????????? *!*/
    /*align-items: center; !* ??????????? ?? ????????? *!*/
}


/* Header images*/
header #imgEndless {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}