/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles */
/*.container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 0 20px;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

/*a {*/
/*    color: #a85cff;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

/*button {*/
/*    background-color: #a85cff;*/
/*    border: none;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

/*button:hover {*/
/*    background-color: #8e45ff;*/
/*}*/







