main {
    margin-top: 5%;
    padding-top: 50px;
    position: relative;
    z-index: 900;
}

.card {
    background: linear-gradient(to top, #f5f5f5 50%, #fff 50%);
    border: none;
    border-radius: 20px;
    height: 100%;
}

.card-img-top {
    max-width: 50%;
    margin: auto;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
