/* Footer styles */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-nav {
    display: flex;
}

.footer-nav a {
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
}

.footer-social a {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #a85cff; /* ?????????? ????? */
}

.footer-info {
    font-size: 12px;
}

/* Media queries */
@media (max-width: 768px) {

    /* Footer styles */
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav {
        margin-bottom: 10px;
    }

    .footer-nav a {
        margin-right: 0;
    }

    .footer-social {
        margin-bottom: 10px;
    }
}

