/* Header styles */

/* Header general */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /*margin-bottom: 150px;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
}

header h3 {
    margin: 0;
}

/* Header links */

header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Trispace", sans-serif;
    display: flex;
    align-items: center;
}

header .link-view {
    cursor: pointer;
    margin-right: 20px;
}


/*.search-input-container {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: 999;*/
/*    pointer-events: all;*/
/*}*/


header #logoEndlessFlow{
    margin: 0;
    display: inline-block;
    max-width: 100%;

}
header #logoEndlessFlow a{
    text-decoration: none;
    display: inline-block;
    /*width: 100px;*/
}

/* Header image */
header img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

header #imgEndless{
    height: 70px;
    width: 70px;
    position: relative;
    padding: 1px;
}

.logo {
    display: flex;
    align-items: center;
}


header #navbarNav{
    margin-left: 20%;
    margin-right: 20%;
}



header .navbar-toggler {
    border: none;
}

header .navbar-toggler-icon {
    background-color: #fff;
}

header form {
    margin: 0;
}

header input[type="search"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    margin-right: 20px;
}

.search {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

header input[type="search"]::placeholder {
    color: #fff;
}

header .btn-outline-light {
    border-color: #fff;
    color: #fff;
    margin-left: 20px;
}

header .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

/* Avatar styles */
.avatar img {
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

header .dropdown {
    position: absolute;
    right: 20px;
}

header .dropdown-toggle {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
}

header .dropdown-menu {
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    padding: 0;
}

header .dropdown-menu a {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

header .dropdown-menu a:hover {
    background-color: rgba(243, 243, 243, 0.25);
}

/* Hide dropdown by default */
header .dropdown.d-none {
    display: none;
}

/* Dropdown menu styles on hover */
header .dropdown-menu-end.show .dropdown-item:hover {
    background-color: #ddd;
    color: #000;
}

/* Remove hover effect on dropdown toggle */
header .navbar .navLink.dropdown-toggle:hover {
    background-color: transparent;
}



header .dropdown-menu .dropdown-item {
    color: black;
    background-color: #ffffff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

header #user-dropdown {
    margin-right: 20px;
}

header .dropdown-menu a:hover {
    background-color: #f5f5f5;
}


.navbar-nav .navLink.hidden {
    display: none;
}

#search-container {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#search-container.active {
    opacity: 1;
    height: auto;
}



/* Media */
@media (max-width: 991.98px) {
    header input[type="search"] {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 10px;
    }
    header a {
        font-size: 20px;
    }
    header img {
        height: 25px;
    }
    header h3 {
        font-size: 20px;
    }
    header .dropdown-toggle {
        font-size: 14px;
    }
}