<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EndlessFlow</title>
    <!-- Підключаємо Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styleGeneral.css" th:href="@{styleGeneral.css}">
    <link rel="stylesheet" type="text/css" href="/styleHeader.css" th:href="@{/styleHeader.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleBody.css" th:href="@{/css/styleBody.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleFooter.css" th:href="@{/css/styleFooter.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleMain.css" th:href="@{/css/styleMain.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@200;400&family=Oswald:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <!-- Стилі для фіолетово-чорного градієнту -->
    <style>
        body {
            background-color: #1a1a1a;
            background-image: linear-gradient(135deg, #a845eb 10%, #3c1053 100%);
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: transparent;">
        <div class="container-fluid d-flex align-items-center">
            <div class="navbar-brand" id="logoEndlessFlow" >
                <a href="#" class="d-flex">
                    <img src="/images/logoEndlessFlow.png" alt="EndlessFlow logo" id="imgEndless">
                    <h3 style="font-family: Trispace; font-size: 1.5rem;">EndlessFlow</h3>
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navLink link-view" href="#">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="navLink link-view" href="#">Аудіо</a>
                    </li>
                    <li class="nav-item">
                        <a class="navLink link-view" href="#">Фото</a>
                    </li>
                    <li class="nav-item">
                        <a class="navLink link-view" href="#">Відео</a>
                    </li>
                    <li class="nav-item link-view">
                        <a class="navLink" id="search-btn">Пошук</a>
                    </li>
                    <li class="nav-item d-none" id="search-input-container">
                        <form class="d-flex align-items-center">
                            <div class="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                       id="search-input">
                                <button class="btn btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </li>
                </ul>
                <script>
                    const searchBtn = document.getElementById('search-btn');
                    const searchInputContainer = document.querySelector('#search-input-container'); // изменено
                    const searchInput = document.getElementById('search-input');
                    const navbarNav = document.querySelector('.navbar-nav');

                    searchBtn.addEventListener('click', () => {
                        searchBtn.classList.add('d-none');
                        searchInputContainer.classList.remove('d-none');
                        searchInput.focus();

                    });

                    searchInput.addEventListener('blur', () => {
                        if (searchInput.value === '') {
                            searchInputContainer.classList.add('d-none');
                            searchBtn.classList.remove('d-none');
                            navbarNav.style.display = 'flex';
                        }
                    });

                    navbarNav.addEventListener('click', (event) => {
                        if (event.target.classList.contains('link-view')) {
                            searchInputContainer.classList.add('d-none');
                            searchBtn.classList.remove('d-none');
                        }
                    });
                    // document.addEventListener('click', (event) => {
                    //     const isClickInside = searchInputContainer.contains(event.target) || searchBtn.contains(event.target);
                    //     if (!isClickInside) {
                    //         // скрываем строку поиска
                    //         searchInputContainer.classList.add('d-none');
                    //         // показываем элементы навигации
                    //         navbarNav.style.display = 'flex';
                    //     }
                    // });

                </script>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            John Doe
                            <img src="avatar.png" alt="User avatar">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"
                            id="user-dropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Library</a></li>
                            <li><a class="dropdown-item" href="#">Playlists</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Feedback</a></li>
                            <li><a class="dropdown-item" href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg mb-5">
                    <img src="audio.png" alt="Audio icon" class="card-img-top p-4">
                    <div class="card-body">
                        <h2 class="card-title text-center">Audio</h2>
                        <p class="card-text text-center">Listen to your favorite music</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg mb-5">
                    <img src="photo.png" alt="Photo icon" class="card-img-top p-4">
                    <div class="card-body">
                        <h2 class="card-title text-center">Photo</h2>
                        <p class="card-text text-center">View and share your photos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg mb-5">
                    <img src="video.png" alt="Video icon" class="card-img-top p-4">
                    <div class="card-body">
                        <h2 class="card-title text-center">Video</h2>
                        <p class="card-text text-center">Watch your favorite videos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="links">
                    <a href="#">Contact Us</a>
                    <a href="#">About Us</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <a href="#"><img src="facebook.png" alt="Facebook icon"></a>
                    <a href="#"><img src="twitter.png" alt="Twitter icon"></a>
                    <a href="#"><img src="instagram.png" alt="Instagram icon"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <p>&copy; 2023 EndlessFlow. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>