<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EndlessFlow</title>
    <link rel="stylesheet" type="text/css" href="/css/styleGeneral.css" th:href="@{/css/styleGeneral.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleHeader.css" th:href="@{/css/styleHeader.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleBody.css" th:href="@{/css/styleBody.css}">
    <link rel="stylesheet" type="text/css" href="/css/styleMain.css" th:href="@{/css/styleMain.css}">

    <!--    Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--    Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@200;400&family=Oswald:wght@300;400;500;700&display=swap"
          rel="stylesheet">
</head>
<body>
<!-- H E A D E R -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="mainUl">
                <li class="nav-item" >
                    <div class="navbar-brand">
                        <a href="#" class="d-flex">
                            <img src="/images/logoEndlessFlow.png" alt="EndlessFlow logo" id="imgEndless" class="me-2">
                            <h3 style="font-family: Trispace; font-size: 1.5rem;">EndlessFlow</h3>
                        </a>
                    </div>
                </li>
                <li class="nav-item" id="middleNav">
                    <ul class="navbar-nav justify-content-center text-center" id="navigationLinks">
                        <li class="nav-item"><a href="#" class="navLink">Головна</a></li>
                        <li class="nav-item"><a href="#" class="navLink">Фото</a></li>
                        <li class="nav-item"><a href="#" class="navLink">Відео</a></li>
                        <li class="nav-item"><a href="#" class="navLink">Аудіо</a></li>
                        <li class="nav-item"><a href="#" class="navLink">Пошук</a></li>
                    </ul>
                </li>

                <li class="nav-item" id="authLink">
                    <ul class="navbar-nav ms-auto " style="margin-right: 0;">
                        <li class="nav-item"><a href="#" class="navLink">Log in</a></li>
                        <li class="nav-item"><a href="#" class="navLink">Sing up</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>


<!-- M A I N -->
<main>
    <div>
        <div>
            <div>
                <div>
                    <img src="audio.png" alt="Audio icon">
                    <div>
                        <h2>Audio</h2>
                        <p>Listen to your favorite music</p>
                        <a href="#">Перейти</a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <img src="photo.png" alt="Photo icon">
                    <div>
                        <h2>Photo</h2>
                        <p>View and share your photos</p>
                        <a href="#">Перейти</a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <img src="video.png" alt="Video icon">
                    <div>
                        <h2>Video</h2>
                        <p>Watch your favorite videos</p>
                        <a href="#">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- F O O T E R -->
<footer>
    <div>
        <div>
            <div>
                <div>
                    <a href="#">Contact Us</a>
                    <a href="#">About Us</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div>
                <div class="social">
                    <a href="#"><img src="facebook.png" alt="Facebook icon"></a>
                    <a href="#"><img src="twitter.png" alt="Twitter icon"></a>
                    <a href="#"><img src="instagram.png" alt="Instagram icon"></a>
                </div>
            </div>
            <div>
                <div>
                    <p>&copy; 2023 EndlessFlow. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>